.subtitle {
  font-size: 25px !important;
}
.larger {
  font-size: 22px !important;
}
.normal {
  font-size: 20px !important;
}
.smaller {
  font-size: 16px !important;
}
.smallest {
  font-size: 14px !important;
}
.eye_brow {
  margin: 0;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: .8;
}
